/*Estas medidas ya contemplan todas las vistas posibles*/
/*Importacion de fuentes*/
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreamsB";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GillSansMT";
  src: url("../fonts/GillSansMTMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #001D33;
}

/*Modificaciones Navbar*/
.navbar {
  background-color: #FAFBFC;
}

.navbar-area-color {
  background-color: #001D33;
}

.navbar-brand {
  color: #001D33;
  font-weight: bold;
}

.navbar-brand-tv {
  color: #E843C5;
}

.menu-icon {
  width: 7%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-icon {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .menu-icon {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-navbar-element {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop-navbar-element {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .tablet-navbar-element {
    display: none;
  }
}

.form-control {
  width: 45%;
}
@media only screen and (min-width: 1025px) {
  .form-control {
    width: 65%;
  }
}

#user-icon {
  width: 40%;
}

/*Modificaciones Navbar End*/
/*Areas*/
#show-review {
  display: none;
}

#show-review-v {
  display: none;
}

/*Areas End*/
/*Carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 300x;
  width: 300px;
  outline: white;
  border: 5px solid white;
  border-radius: 15%;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
  width: 80px;
  height: 120px;
  color: white;
}
@media only screen and (max-width: 767px) {
  .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 60px;
    height: 90px;
  }
}

/* Fin del area de carousel*/
/* Actores */
.slider {
  background: none;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /*
     @keyframes sli2 {
     0%{transform: translateX(500px);
   }
     100% {transform:translateX(-250px * 7)
   }
  }
     */
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  @keyframes sli1 {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(-8600px);
    }
  }
  @keyframes sli2 {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(-6700px);
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  @keyframes sli1 {
    0% {
      transform: translateX(1250px);
    }
    100% {
      transform: translateX(-8820px);
    }
  }
  @keyframes sli2 {
    0% {
      transform: translateX(1250px);
    }
    100% {
      transform: translateX(-7000px);
    }
  }
}
@media only screen and (min-width: 1025px) {
  @keyframes sli1 {
    0% {
      transform: translateX(1250px);
    }
    100% {
      transform: translateX(-8700px);
    }
  }
  @keyframes sli2 {
    0% {
      transform: translateX(1250px);
    }
    100% {
      transform: translateX(-7000px);
    }
  }
}
.slider .cinetv-actores {
  width: 100%;
}
.slider .slide-track1 {
  animation: 200s linear infinite normal none running sli1;
  width: calc(450px * 20);
}
.slider .slide-track2 {
  animation: 110s linear infinite normal none running sli2;
  width: calc(350px * 20);
}
.slider .slide, .slider .slide2 {
  height: 100px;
  width: 250px;
  margin-right: auto;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .slider .slide, .slider .slide2 {
    height: 90px;
    width: 200px;
  }
}

/* Fin del area Actores */
/*Imagenes*/
.cinetv-portada-pelicula {
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  .anuncio-cinetv {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .anuncio-cinetv-desktop {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .anuncio-cinetv-desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #cinetv-anuncio {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #cinetv-anuncio {
    width: 100%;
  }
}

#cinetv-anuncio-d {
  width: 100%;
}

.cinetv-portada-pelicula-c {
  width: 55%;
}

/*Imagenes End*/
/* Area de Fuentes */
.cinetv-logo {
  font-family: "GillSansMT";
  font-size: 28pt;
}

.cinetv-titulo {
  font-family: "GillSansMT";
  font-size: 22pt;
}
@media only screen and (max-width: 767px) {
  .cinetv-titulo {
    font-size: 15pt;
  }
}

.cinetv-contenido {
  font-family: "CaviarDreams";
  font-size: 15pt;
}
@media only screen and (max-width: 767px) {
  .cinetv-contenido {
    font-size: 10pt;
  }
}

/*Overflow*/
@media only screen and (max-width: 767px) {
  .cinetv-text-area {
    max-height: 260px;
    max-width: 205px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cinetv-text-area {
    max-height: 665px;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1025px) {
  .cinetv-text-area {
    max-height: 800px;
    max-width: 570px;
  }
}

.cinetv-footer {
  font-family: "GillSansMT";
  font-size: 15pt;
}
@media only screen and (max-width: 767px) {
  .cinetv-footer {
    font-size: 12pt;
  }
}

/*Fin de area de fuentes*/
/*Footer*/
.footer-area {
  background-color: #FAFBFC;
  width: 100%;
}

.footer-link {
  color: #001D33;
}

/*Fin de Area Footer*/
/*
    Color 5: #001D33
    Color 4: #005387
    Color 3: #006BAD
    Color 2: #E843C5
    Color 1: #FAFBFC
*/